* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;

}

nav {
    width: 100%;
    padding: 15px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0; */
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.logo h3 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    margin-right: 80px;
}

ul li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

li a:hover {
    color: darkorange;
}

ul button {
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

ul #B {
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

ul button:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.benner {
    background-image: linear-gradient(135deg, rgba(30, 39, 210, 0.353), rgba(156, 36, 52, 0.375), rgba(255, 166, 0, 0.447)), url("../Images/assorted-fresh-ripe-fruits-vegetables-260nw-770613370.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benner .Title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
    color: white;
    font-weight: bold;
}

.Title button {
    width: 18%;
    height: 40px;
    background-color: green;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 5px white;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.Title button:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.address .fas {
    font-size: 60px;
    color: green;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.phone .fas {
    font-size: 40px;
    color: green;
}


.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.contact .map-container {
    width: 50%;
}

.form-container {
    width: 50%;
    padding: 20px;
    background-color: black;
    color: white;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-size: 14px;
}

input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0;
    font-size: 14px;
    outline: none;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid #fff;
}

.Robot_test{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.Robot h2{
    color: darkorange;
}

.Robot{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Robot_1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Robot_1 span{
    color: darkorange;
}

.btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    width: 80%;
    height: 50px;
    border: 1px solid darkorange;
    background-color: rgba(0, 0, 0, 0.86);
    color: white;
    font-size: 20px;
    border-radius: 24px;
}

.btn button:hover{
    background-color:rgb(255, 166, 0);
    border: 2px solid rgb(252, 182, 53);
    box-shadow: 0 0 2px;
}

/* .....................footer ....................... */

footer {
    width: 99%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    color: white;

}

.foot_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.content_foot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content_foot h3{
    display: flex;
    align-items: center;
    color: darkorange;
}

.content_foot ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content_foot-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content_foot-1 h3{
    color: darkorange;
}

.content_foot-1 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* ...........social ............ */
.logo_fo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img:hover {
    transform: translateY(-2px);
}

.logo_fo-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo_fo-1 h3{
    color: darkorange;
}

.logo_fo-1 img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*................ contacts us............. */


form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-size: 14px;
}

input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0;
    font-size: 14px;
    outline: none;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid #fff;
}

.content_foot-2 form{
    width: 140%;
}

.content_foot-2 button{
    width: 140%;
    height: 45px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid darkorange;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.content_foot-2 button:hover{
    background-color: rgb(255, 166, 0);
}

/*............... hr ............ */

hr{
    width: 97%;
    margin-top: 40px;
}

.content_foot-3{
    padding: 0 40px 0 0 ;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.foot_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .........mune ...... */
.To_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.content_fo ul {
    gap: 30px;
}

.content_fo-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 20px 0 0;
}

li h2{
    color: darkorange;
}

/*.............Responsive ................ */

@media(max-width: 767px){
    nav {
        width: 100%;
        gap: 20px;
    }

    .logo {
        gap: 10px;
        margin: auto;
    }

    .logo img{
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    .logo h3 {
        font-size: 12px;
    }

    nav ul {
        gap: 10px;
    }

    ul li a {
        font-size: 12px;
    }

    ul button {
        font-size: 8px;
        width: 40px;
        height: 20px;
    }

    ul #B {
        font-size: 8px;
        width: 40px;
        height: 20px;
    }

    .benner {
        width: 100%;
    }

    .Title h1 {
        width: 170%;
        font-size: 1.5em;
    }

    .Title p {
        width: 180%;
    }

    .Title button {
        width: 50%;
    }

    .content{
        margin: auto;
        margin-top: 20px;
    }

    .address{
        width: 50%;
    }

    .contact{
        display: flex;
        flex-direction: column;
    }

    .map-locate iframe{
        width: 200%;
        height: 50vh;
    }

    .form-container{
        width: 100%;
        margin: auto;
    }


}