* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

nav {
    width: 100%;
    padding: 20px 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px;
    /* position: sticky;
    top: 0; */
}
.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.logo h3 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    margin-right: 80px;
}

ul li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

li a:hover {
    color: darkorange;
}

ul button {
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

ul #B {
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

ul button:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

/*................... app js ....................... */
.container {
    position: absolute;
    top: 52%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80vh;
    /* margin-top: 110px; */
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 70%;
    margin-top: 8%;
}

.slide .item:nth-child(4) {
    left: calc(70% + 220px);
    margin-top: 8%;
}

.slide .item:nth-child(5) {
    left: calc(70% + 440px);
    margin-top: 8%;
}

.slide .item:nth-child(n +6) {
    left: calc(70% + 660px);
    opacity: 0;
    margin-top: 8%;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    width: 180%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
   text-align: center;
    position: absolute;
    border: 20px;
    margin-top: 35%;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid black;
    transition: 0.3s;
}

.button button:hover{
    background: gray;
    color: white;
}

.content-1 {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 10px;
    margin: auto;
}

.content-1 h2{
    margin-top: 85%;
}

.main_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.content_box {
    width: 100%;
    height: 40vh;
    background-color: white;
    box-shadow: 0 0 5px;
    border-radius: 2px;
}

.content_box:hover {
    transform: translateY(-3px);
}

.content_box img {
    width: 100%;
    height: 20vh;
    border-radius: 2px 2px 0 0;
}

.content_box h3 {
    padding: 10px;
}

.main_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.star {
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gold;
}

.btn button {
    width: 90px;
    height: 35px;
    margin-top: 10px;
    background-color: rgb(3, 112, 3);
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

.btn button:hover {
    transform: translateY(-2px);
    background-color: rgb(22, 206, 22);
    cursor: pointer;
}

.btn #B {
    width: 35px;
    height: 35px;
}

.main_content_2 {
    padding: 20px;
}

.content_2 {
    width: 100%;
    height: 64vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 5px;
    border-radius: 4px;
}

.content_2 img {
    width: 50%;
    height: 64vh;
    border-radius: 4px 0 0 4px;
}

.content_2 .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.paragraph h2 {
    color: green;
    font-weight: bold;
}

.paragraph p {
    display: flex;
    text-align: justify;
}

.picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: green;
}

.pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pic img {
    width: 70%;
    height: 22vh;
    border-radius: 150px;
    box-shadow: 0 0 2px;
}

.pic:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.pic_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pic_1 img {
    width: 75%;
    height: 22vh;
    border-radius: 130px;
    box-shadow: 0 0 2px;
}

.pic_1:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

/* .....................footer ....................... */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    background-color: black;
    color: white;

}

.foot_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.content_foot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content_foot h3 {
    display: flex;
    align-items: center;
    color: darkorange;
}

.content_foot ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content_foot-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content_foot-1 h3 {
    color: darkorange;
}

.content_foot-1 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* ...........social ............ */
.logo_fo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img:hover {
    transform: translateY(-2px);
}

.logo_fo-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo_fo-1 h3 {
    color: darkorange;
}

.logo_fo-1 img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*................ contacts us............. */


form {
    width: 140%;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-size: 14px;
}

input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0;
    font-size: 14px;
    outline: none;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid #fff;
}

.content_foot-2 button {
    width: 140%;
    height: 45px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid darkorange;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.content_foot-2 button:hover {
    background-color: orange;
}

/*............... hr ............ */

hr {
    width: 97%;
    margin-top: 40px;
}

.content_foot-3 {
    padding: 0 40px 0 0;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.foot_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .........mune ...... */
.To_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.content_fo ul {
    gap: 30px;
}

.content_fo-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 20px 0 0;
}

li h2 {
    color: darkorange;
}

/* .............Responsive .......... */

@media(max-width: 767px) {

    nav {
        width: 100%;
        gap: 20px;
    }

    .logo {
        gap: 10px;
        margin: auto;
        margin-left: 10px;
    }

    .logo h3 {
        font-size: 12px;
    }

    nav ul {
        gap: 10px;
    }

    ul li a {
        font-size: 12px;
    }

    ul button {
        font-size: 8px;
        width: 40px;
        height: 20px;
    }

    ul #B {
        font-size: 8px;
        width: 40px;
        height: 20px;
    }

    .container{
        width: 100%;
        top: 51%;
    }

    .item .content{
       left: 30px;
    }

    .content .name{
        font-size: 24px;
    }

   .button button{
    margin-top: 90%;
   }

   .slide .item:nth-child(3){
    margin-top: 28%;
   }

    .content-1{
        margin-top: 120%;
    }

    .content-1 h2 {
        width: 110%;
    }

    .content-1 p {
        width: 180%;
    }

    .main_box {
        display: flex;
        flex-direction: column;
    }

    .content_box {
        width: 100%;
    }

    .content_2 {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    .content_2 img {
        width: 100%;
        height: 30vh;
    }

    .paragraph p {
        width: 100%;
        font-size: 10px;
    }

    .picture .pic {
        width: 30%;
        height: 120px;
        border: 130px;
    }

    .picture .pic_1 {
        width: 30%;
        height: 130px;
        border: 130px;
    }

    .pic h3 {
        font-size: 12px;
    }

    .pic_1 h3 {
        font-size: 12px;
    }

    footer {
        width: 100%;
    }

    .To_top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .content_fo {
        font-size: 12px;
    }

    .content_fo ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-right: 10%;
    }

    .foot_1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .content_foot-2 {
        width: 50%;
    }

}

/* .................Tablet ................... */

@media (min-width: 768px) and (max-width: 1024px) {

    body{
        overflow-x: hidden;
    }
    nav {
        width: 100%;
        gap: 40px;
    }

    nav .logo {
        gap: 10px;
    }

    .logo h3{
        font-size: 18px;
    }

    nav ul {
        gap: 20px;

    }

    .container{
        top: 49%;
    }

    .slide .item{
        width: 100%;
    }

    .slide .item:nth-child(3){
        margin-top: 150px;
    }
    .slide .item:nth-child(4){
        margin-top: 150px;
    }
    .slide .item:nth-child(5){
        margin-top: 150px;
    }
    .slide .item:nth-child(n + 6){
        margin-top: 150px;
    }

    .button button{
        margin-top: 55%;
    }

    .content-1{
        margin-top: 60%;
    }

    .content-1 p {
        width: 150%;

    }

    .main_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .content_box {
        width: 100%;
        height: 37vh;
    }

    .content_2 {
        width: 100%;
        height: 50vh;
    }

    .content_2 img {
        height: 50vh;
    }

    .picture .pic {
        width: 30%;
        height: 100px;
        border: 130px;
    }

    .picture .pic_1 {
        width: 30%;
        height: 100px;
        border: 130px;
    }

    .pic h3 {
        font-size: 12px;
    }

    .pic_1 h3 {
        font-size: 12px;
    }

    
    footer{
        width: 100%;
        padding: 10px;
    }

    .foot_1{
        width: 100%;
        padding: 10px;
        margin: auto;
    }

    .content_foot{
        width: 25%;
        margin-left: 20px;
    }

    .content_foot-1{
        width: 20%;
    }

    .logo_fo{
        width: 30%;
    }

    .social img{
        width: 20px;
        height: 20px;
    }

    .logo_fo-1 img{
        width: 20px;
        height: 20px;
    }
    
    .content_foot-2{
        width: 30%;
    }
    
    .content_foot-2 input{
        width: 50%;
    }

    .content_foot-2 button{
        width: 70%;
    }

}

/* .............. Desktop ............... */

@media (min-width: 1024px) and (min-width: 1080px) {

}